{% import '_includes/forms' as forms %}

<hr>
<h2>Images</h2>

{{ forms.lightswitchField({
  errors: settings.getErrors('enableImageCompressor'),
  label: 'Enable Image Compressor',
  name: 'enableImageCompressor',
  on: settings.enableImageCompressor,
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('enableImageSharpening'),
  label: 'Enable Image Sharpening',
  name: 'enableImageSharpening',
  on: settings.enableImageSharpening,
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('enabledImagePlaceholders'),
  label: 'Enabled Image Placeholders',
  name: 'enabledImagePlaceholders',
  on: settings.enabledImagePlaceholders,
}) }}

{{ forms.textareaField({
  errors: settings.getErrors('imagePlaceholderVolumes'),
  instructions: 'Enter the handle of a volume per line, leave empty to enable on all.',
  label: 'Image Placeholder Volumes',
  name: 'imagePlaceholderVolumes',
  value: settings.imagePlaceholderVolumes|join('\n'),
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('enableWebp'),
  label: 'Enable automatic WebP transforms',
  name: 'enableWebp',
  on: settings.enableWebp,
}) }}
