{% import '_includes/forms' as forms %}

<h3>Languages</h3>

{{ forms.lightswitchField({
  errors: settings.getErrors('enableLanguageRedirect'),
  label: 'Enable Language Redirect',
  name: 'enableLanguageRedirect',
  on: settings.enableLanguageRedirect,
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('ensureSiteSegment'),
  label: 'Ensure URLs start with the site segment',
  name: 'ensureSiteSegment',
  on: settings.ensureSiteSegment,
}) }}

{{ forms.checkboxGroupField({
  errors: settings.getErrors('disabledLanguages'),
  label: 'Disabled languages',
  name: 'disabledLanguages',
  instructions: 'Deprecated, use site enabled status instead.',
  options: settings.allLanguages,
  values: settings.disabledLanguages,
}) }}

<h3>Images</h3>

{{ forms.lightswitchField({
  errors: settings.getErrors('enableImageCompressor'),
  label: 'Enable Image Compressor',
  name: 'enableImageCompressor',
  on: settings.enableImageCompressor,
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('enableImageSharpening'),
  label: 'Enable Image Sharpening',
  name: 'enableImageSharpening',
  on: settings.enableImageSharpening,
}) }}

{{ forms.lightswitchField({
  errors: settings.getErrors('enableWebp'),
  label: 'Enable automatic WebP transforms',
  name: 'enableWebp',
  on: settings.enableWebp,
}) }}

<h3>Data tables</h3>

{{ forms.textareaField({
  errors: settings.getErrors('dataTables'),
  instructions: 'Enter one fully qualified data table class per line.',
  label: 'Data table classes',
  name: 'dataTables',
  value: settings.dataTables|join('\n'),
}) }}
